/* Catppuccin Macchiato Theme */

@define-color window_bg_color #24273a;
@define-color window_fg_color #cad3f5;

@define-color accent_bg_color #c6a0f6;
@define-color accent_fg_color #24273a;
@define-color destructive_bg_color #ed8796;
@define-color destructive_fg_color #24273a;

@define-color headerbar_bg_color #1e2030;
@define-color headerbar_fg_color #cad3f5;
@define-color headerbar_border_color #363a4f;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.2);

@define-color popover_bg_color #24273a;
@define-color popover_fg_color #cad3f5;

@define-color view_bg_color #24273a;
@define-color view_fg_color #cad3f5;

@define-color card_bg_color #1e2030;
@define-color card_fg_color #cad3f5;
@define-color card_shade_color rgba(0, 0, 0, 0.2);

/* Calculators Grid */
.calc-grid-button {
    background-color: #363a4f;
    color: #cad3f5;
    border: 1px solid #494d64;
}

.calc-grid-button:hover {
    background-color: #494d64;
}

.calc-grid-button:active {
    background-color: #c6a0f6;
    color: #24273a;
}

/* Unique accents */
.calc-grid-button.accent {
    background-color: #c6a0f6;
    /* Mauve */
    color: #24273a;
}

.calc-grid-button.accent:hover {
    background-color: #f5bde6;
    /* Pink */
}

/* Display Area */
.calculator-display-header {
    background-color: #24273a;
    color: #cad3f5;
}

.calc-entry-display {
    color: #cad3f5;
}

.calc-history {
    color: #939ab7;
}

/* Sidebar */
.sidebar {
    background-color: #1e2030;
    border-right: 1px solid #363a4f;
}

.sidebar-list row:selected {
    background-color: #c6a0f6;
    color: #24273a;
}

/* Semantic Overrides */
.calc-grid-button.suggested-action {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
.calc-grid-button.destructive-action {
    background-color: @destructive_bg_color;
    color: @destructive_fg_color;
}
