@define-color window_bg_color #1e1e2e;
@define-color window_fg_color #cdd6f4;

@define-color accent_bg_color #cba6f7;
@define-color accent_fg_color #1e1e2e;
@define-color destructive_bg_color #f38ba8;
@define-color destructive_fg_color #1e1e2e;

@define-color headerbar_bg_color #181825;
@define-color headerbar_fg_color #cdd6f4;
@define-color headerbar_border_color #313244;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);

@define-color popover_bg_color #1e1e2e;
@define-color popover_fg_color #cdd6f4;

@define-color view_bg_color #1e1e2e;
@define-color view_fg_color #cdd6f4;

@define-color card_bg_color #313244;
@define-color card_fg_color #cdd6f4;
@define-color card_shade_color rgba(0, 0, 0, 0.36);

.calc-grid-button {
    background-color: #313244;
    color: #cdd6f4;
    border: 1px solid #45475a;
}

.calc-grid-button:hover {
    background-color: #45475a;
}

.calc-grid-button:active {
    background-color: #cba6f7;
    color: #1e1e2e;
}

.calc-grid-button.accent {
    background-color: #cba6f7;

    color: #1e1e2e;
}

.calc-grid-button.accent:hover {
    background-color: #f5c2e7;

}

.calculator-display-header {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

.calc-entry-display {
    color: #cdd6f4;
}

.calc-history {
    color: #a6adc8;
}

.sidebar {
    background-color: #181825;
    border-right: 1px solid #313244;
}

.sidebar-list row:selected {
    background-color: #cba6f7;
    color: #1e1e2e;
}

.calc-grid-button.suggested-action {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
.calc-grid-button.destructive-action {
    background-color: @destructive_bg_color;
    color: @destructive_fg_color;
}
