@define-color window_bg_color #282a36;
@define-color window_fg_color #f8f8f2;

@define-color accent_bg_color #bd93f9;
@define-color accent_fg_color #282a36;
@define-color destructive_bg_color #ff5555;
@define-color destructive_fg_color #f8f8f2;

@define-color headerbar_bg_color #44475a;
@define-color headerbar_fg_color #f8f8f2;
@define-color headerbar_border_color #6272a4;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);

@define-color popover_bg_color #282a36;
@define-color popover_fg_color #f8f8f2;

@define-color view_bg_color #282a36;
@define-color view_fg_color #f8f8f2;

@define-color card_bg_color #44475a;
@define-color card_fg_color #f8f8f2;
@define-color card_shade_color rgba(0, 0, 0, 0.36);

.calc-grid-button {
    background-color: #44475a;
    color: #f8f8f2;
    border: 1px solid #6272a4;
}

.calc-grid-button:hover {
    background-color: #6272a4;
}

.calc-grid-button:active {
    background-color: #bd93f9;
    color: #282a36;
}

.calc-grid-button.accent {
    background-color: #bd93f9;

    color: #282a36;
}

.calc-grid-button.accent:hover {
    background-color: #ff79c6;

}

.calculator-display-header {
    background-color: #282a36;
    color: #f8f8f2;
}

.calc-entry-display {
    color: #f8f8f2;
}

.calc-history {
    color: #6272a4;
}

.sidebar {
    background-color: #21222c;
    border-right: 1px solid #6272a4;
}

.sidebar-list row:selected {
    background-color: #bd93f9;
    color: #282a36;
}

.calc-grid-button.suggested-action {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
.calc-grid-button.destructive-action {
    background-color: @destructive_bg_color;
    color: @destructive_fg_color;
}
