/* Catppuccin Latte Theme */
window,
.background {
    background-color: #eff1f5;
    color: #4c4f69;
}

headerbar {
    background-color: #e6e9ef;
    color: #4c4f69;
    border-bottom: 1px solid #bcc0cc;
}

/* Calculators Grid */
.calc-grid-button {
    background-color: #e6e9ef;
    color: #4c4f69;
    border: 1px solid #ccd0da;
}

.calc-grid-button:hover {
    background-color: #ccd0da;
}

.calc-grid-button:active {
    background-color: #8839ef;
    color: #eff1f5;
}

/* Unique accents */
.calc-grid-button.accent {
    background-color: #8839ef;
    /* Mauve */
    color: #eff1f5;
}

.calc-grid-button.accent:hover {
    background-color: #ca9ee6;
}

/* Display Area */
.calculator-display-header {
    background-color: #eff1f5;
    color: #4c4f69;
}

.calc-entry-display {
    color: #4c4f69;
}

.calc-history {
    color: #6c6f85;
}

/* Sidebar */
.sidebar {
    background-color: #e6e9ef;
    border-right: 1px solid #bcc0cc;
}

.sidebar-list row:selected {
    background-color: #8839ef;
    color: #eff1f5;
}