/* Catppuccin Latte Theme */

@define-color window_bg_color #eff1f5;
@define-color window_fg_color #4c4f69;

@define-color headerbar_bg_color #e6e9ef;
@define-color headerbar_fg_color #4c4f69;
@define-color headerbar_border_color #bcc0cc;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

@define-color popover_bg_color #eff1f5;
@define-color popover_fg_color #4c4f69;

@define-color view_bg_color #eff1f5;
@define-color view_fg_color #4c4f69;

@define-color card_bg_color #e6e9ef;
@define-color card_fg_color #4c4f69;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

/* Calculators Grid */
.calc-grid-button {
    background-color: #e6e9ef;
    color: #4c4f69;
    border: 1px solid #bcc0cc;
}

.calc-grid-button:hover {
    background-color: #bcc0cc;
}

.calc-grid-button:active {
    background-color: #8839ef;
    color: #eff1f5;
}

/* Unique accents */
.calc-grid-button.accent {
    background-color: #8839ef;
    /* Mauve */
    color: #eff1f5;
}

.calc-grid-button.accent:hover {
    background-color: #ca9ee6;
    /* Pink-ish */
}

/* Display Area */
.calculator-display-header {
    background-color: #eff1f5;
    color: #4c4f69;
}

.calc-entry-display {
    color: #4c4f69;
}

.calc-history {
    color: #6c6f85;
}

/* Sidebar */
.sidebar {
    background-color: #e6e9ef;
    border-right: 1px solid #bcc0cc;
}

.sidebar-list row:selected {
    background-color: #8839ef;
    color: #eff1f5;
}