/* Dracula Theme */

@define-color window_bg_color #282a36;
@define-color window_fg_color #f8f8f2;

@define-color headerbar_bg_color #44475a;
@define-color headerbar_fg_color #f8f8f2;
@define-color headerbar_border_color #6272a4;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);

@define-color popover_bg_color #282a36;
@define-color popover_fg_color #f8f8f2;

@define-color view_bg_color #282a36;
@define-color view_fg_color #f8f8f2;

@define-color card_bg_color #44475a;
@define-color card_fg_color #f8f8f2;
@define-color card_shade_color rgba(0, 0, 0, 0.36);

/* Calculators Grid */
.calc-grid-button {
    background-color: #44475a;
    color: #f8f8f2;
    border: 1px solid #6272a4;
}

.calc-grid-button:hover {
    background-color: #6272a4;
}

.calc-grid-button:active {
    background-color: #bd93f9;
    color: #282a36;
}

/* Unique accents */
.calc-grid-button.accent {
    background-color: #bd93f9;
    /* Purple */
    color: #282a36;
}

.calc-grid-button.accent:hover {
    background-color: #ff79c6;
    /* Pink */
}

/* Display Area */
.calculator-display-header {
    background-color: #282a36;
    color: #f8f8f2;
}

.calc-entry-display {
    color: #f8f8f2;
}

.calc-history {
    color: #6272a4;
}

/* Sidebar */
.sidebar {
    background-color: #21222c;
    border-right: 1px solid #6272a4;
}

.sidebar-list row:selected {
    background-color: #bd93f9;
    color: #282a36;
}