/* Nord Theme */
window,
.background {
    background-color: #2e3440;
    color: #d8dee9;
}

headerbar {
    background-color: #2e3440;
    color: #d8dee9;
    border-bottom: 1px solid #3b4252;
}

/* Calculators Grid */
.calc-grid-button {
    background-color: #3b4252;
    color: #d8dee9;
    border: 1px solid #434c5e;
}

.calc-grid-button:hover {
    background-color: #434c5e;
}

.calc-grid-button:active {
    background-color: #88c0d0;
    color: #2e3440;
}

/* Unique accents */
.calc-grid-button.accent {
    background-color: #88c0d0;
    /* Frost Blue */
    color: #2e3440;
}

.calc-grid-button.accent:hover {
    background-color: #81a1c1;
}

/* Display Area */
.calculator-display-header {
    background-color: #2e3440;
    color: #eceff4;
}

.calc-entry-display {
    color: #eceff4;
}

.calc-history {
    color: #e5e9f0;
}

/* Sidebar */
.sidebar {
    background-color: #2e3440;
    border-right: 1px solid #3b4252;
}

.sidebar-list row:selected {
    background-color: #88c0d0;
    color: #2e3440;
}